/* Start Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color : hsl(235, 21%, 11%);
    --s-main-color : hsl(235, 24%, 19%);
    --border-color : hsl(237, 14%, 26%);
    --text-color : hsl(234, 39%, 85%);
    --placholder-color : hsl(233, 14%, 35%);
    --white-color : #FFF;
    --blue-color : hsl(225deg 100% 60%);
    --lin-gr : linear-gradient(180deg, hsl(250deg 75% 35%), hsl(294deg 63% 30%));
}
body {
    background-color: var(--main-color);
    font-family: 'Glory', sans-serif;
}
.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--s-main-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}
/* End Globals */
/* Start Scrollbar Style */
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track {
    background-color: var(--main-color);
}
::-webkit-scrollbar-thumb {
    background: var(--s-main-color);
    border-radius: 25px;
}
/* End Scrollbar Style */
/* Start Container Styling */
#container {
    max-height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px minmax(100px, 1fr) auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}
/* End Container Styling */
/* Start Header Styling */
header {
    grid-area: header;
    background: url('../imgs/bg.jpg') no-repeat;
    background-size: cover;
}
/* End Header Styling */
/* Start Main Styling */
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Start main-container Styling */
#main-container {
    position: relative;
    top: -250px;
    width: 80%;
}
@media(min-width: 700px) {
    #main-container {
        width: 60%;
    }
}
@media(min-width: 990px) {
    #main-container {
        width: 50%;
    }
}
@media(min-width: 1200px) {
    #main-container {
        width: 40%;
    }
}
/* End main-container Styling */
/* Start title Styling */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}
.title h2 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 10px;
}
.title i {
    font-size: 25px;
    cursor: pointer;
}
/* End title Styling */
/* Start Input Styling */
.input {
    height: 60px;
    margin-top: 70px;
    border-radius: 5px;
}
.checkbox {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
}
.circle i {
    display: none;
}
.circle:hover {
    border: 1px solid var(--lin-gr);
    background: var(--lin-gr);
}
.circle:hover i {
    display: block;
}
.input .input-field {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.input .input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 5px;
    color: var(--text-color);
    font-size: 17px;
}
.input .input-field input::placeholder {
    color: var(--text-color);
}
/* End Input Styling */
/* Start Task Styling */
.tasks {
    margin-top: 18px;
    background-color: var(--s-main-color);
    padding: 5px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.task {
    background-color: var(--s-main-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    height: 60px;
}
.task .task-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task .task-content i {
    display: none;
    margin-right: 15px;
    cursor: pointer;
}
.task .task-content:hover i {
    display: block;
}
@media(max-width: 700px) {
    .task .task-content i {
        display: block;
    }
}
/* End Task Styling */
/* Start Filter Styling */
.filter-menu {
    background-color: var(--s-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--text-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin-right: 10px;
}
.filter-menu a:hover {
    color: var(--blue-color);
}
.filter-menu-mob {
    display: none;
}
@media(max-width: 700px) {
    .filter-menu-mob {
        color: var(--text-color);
        background-color: var(--s-main-color);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .filter-menu-mob a:hover {
        color: var(--blue-color);
    }
    .filter-menu .filter-counter,
    .filter-menu .clear-all {
        visibility: hidden;
    }
    .filter-menu {
        padding: 10px;
        border-radius: 5px;
    }
}
/* End Filter Styling */
/* End Main Styling */
/* Start Footer Styling */
footer {
    grid-area: footer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p {
    position: absolute;
    top: -150px;
}
/* End Footer Styling */